body{
    background-color: #000;
}

.search-bar{
  text-align: center;
}

.search-bar input{
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #7f4cc1;
    border-radius: 4px 0 0 4px;
    color: #777;
    width: 500px;
    text-align: center;
}

.weather-city-name ul li{
    text-align: center;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}
.weather-city-name ul li img{
    width: 62.40%;

}
.weather-city-info ul li{
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
}
.weather-map{
    height: 500px;
}

span{
    font-weight: bold;
    font-family: Times New Roman;
}

h1{
    margin-top: 40px;
    text-align: center;
    color: #fff;
}
h2{
    text-align: center;
    color: #fff;
    margin-left: 30px;
}

