body{
    background-color: #000;
}

.card-img-top{
    width: 150px;
    height: 100px;
    text-align: center;
    margin-left: 85px;

}

.weather-city-name ul li{
    text-align: center;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}

.weather-map{
    height: 645px;
}

.card{
    margin-left: 100px;
}


span{
    font-weight: bold;
    font-family: Times New Roman;
}

h5{
    font-weight: bold;
    font-family: Times New Roman;
}

h1{
    margin-top: 40px;
    text-align: center;
    color: #fff;
}
h2{
    text-align: center;
    color: #fff;
    margin-left: 30px;
}

p, h4{
    font-weight: bold;
    margin-left: 20px;
}

img{
    margin-left: 30px;
}

[type="search"]{
    width: 500px!important;
}